On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git reset HEAD <file>..." to unstage)

	new file:   .idea/vcs.xml

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	.gitignore
	.gitignore.swp
	.idea/misc.xml
	.idea/modules.xml
	.idea/workspace.xml
	".idea/\346\226\260\345\273\272\346\226\207\344\273\266\345\244\271 (2).iml"

